<!DOCTYPE html>
{%  load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'resturant/index.css' %}">
    <script>
        var imag = "{% static 'resturant/images' %}";
    </script>
    <title>Resturant</title>
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Restaurant</h1>
            </div id="nav">
            <nav>
                <ul id="nav-link">
                    <li> <a href="" id="signin">Sign In</a></li>
                    <li> <a href=""> Cart</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="selection">
        <div class="container">
            <div id="select">
                <button class="select-btn" data-category="breakfast">Breakfast</button>
                <button class="select-btn" data-category="main-course">Main Course</button>
                <button class="select-btn" data-category="cold-beverage">Cold Beverage</button>
                <button class="select-btn" data-category="hot-beverage">Hot Beverage</button>
                <button class="select-btn" data-category="dessert">Dessert</button>
            </div>
        </div>
    </section>
    <div class="divider"></div>
    <section id="menu">
        <div class="container">
            <div id="menu-item">
                <div class="menu-item-container">
                    <div class="item-image">
                        <img src="{%static 'resturant/images/Unda_Pratha.jfif' %}" alt="">
                    </div>
                    <div class="name">
                        <p>name</p>
                    </div>
                    <div class="price">
                        <p>price</p>
                    </div>
                    <div class="serving">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="div-form" id="div-form-register">
        <div class="div-close">
            <button class="close-button" id="close2">&#x2716;</button>
        </div>
        <div class="form-heading">
            <h2>Register</h2>
        </div>
        <form action="signup/" method="post"> {% csrf_token %}

            <div id="div-username">
                <div id="usernameregerror" class="error"></div>
                <label for="username">Username</label>
                <input type="text" name="username" class="username" maxlength="30" id="usernamereg">
            </div>
            <div id="div-firstname">
                <div id="firstnameregerror" class="error"></div>
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" class="first_name" maxlength="30" id="firstnamereg">
            </div>
            <div id="div-lastname">
                <div id="lastnameregerror" class="error"></div>
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" class="lastname" maxlength="30" id="lastnamereg"> 
            </div>
            <div id="div-email">
                <div id="emailregerror" class="error"></div>
                <label for="email">Email</label>
                <input type="email" name="email" class="email" maxlength="30" id="emailreg">
            </div>
            <div id="div-password">
                <div id="passwordregerror" class="error"></div>
                <label for="password">Password</label>
                <input type="password" name="password" class="password" maxlength="30" id="passwordreg">
            </div>
            <div id="div-submit">
                <input type="submit" value="Register" class="submit" id="submitreg">
            </div>
        </form>
        <div id="div-register">
            <p>Memeber ! Wana <a href="" id="login">Sign In</a> ?</p>
        </div>
    </div>


    <div class="div-form-signin" id="div-form-signin">
        <div class="div-close">
            <button class="close-button" id="close1">&#x2716;</button>
        </div>
        <div class="form-heading">
            <h2>Sign In</h2>
        </div>
        <form  method="POST"> {% csrf_token %}
            <div id="logerror" class="error"></div>
            <div id="div-username">
                <div id="usernamelogerror" class="error"></div>
                <label for="username">Username</label>
                <input type="text" name="username" class="username" maxlength="30" id="usernamelog">
            </div>
            <div id="div-password">
                <div id="passwordlogerror" class="error"></div>
                <label for="password">Password</label>
                <input type="password" name="password" class="password" maxlength="30" id="passwordlog">
            </div>
            <div id="div-submit">
                <input type="submit" value="Sign In" class="submit" id="submitlog">
            </div>
        </form>
        <div id="div-register">
            <p>Not a memeber. Wana <a href="" id="register">Register</a> ?</p>
        </div>
    </div>
    <div id="div-sucess" class="">hello</div>
    <div id="div-error" class="">hello</div>
    <div id="overlay" class=""></div>
</body>
<script src="{% static 'resturant/index.js' %}"></script>

</html>