body{
    font-family: Lucida Console, Courier, monospace;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: gainsboro ;
}

p{
    padding: 0;
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 20px;
    min-height:70px ;
    border-bottom: go 5px solid;
}

header h1{
    margin: 0;
}
header #branding{
    float: left;
}

header #nav-link{
    float: right;
    margin-top: 15px;
}
header li {
    display: inline;
    padding: 0 5px 0 5px;
}
header a{
    background-color: white;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
}
header a:hover{
    background-color: whitesmoke;
}

#selection{
    padding-top: 25px;
    background-color: #ffffff;
    min-height: 70px;
}
#select{
   display: flex;
   justify-content: center;
}
.select-btn{
    background-color: gold;
    margin: 0 20px 0 20px;
    width: 150px;
    border: none;
    border-radius: 50px;
    padding: 15px 0 15px 0;
    font-size:16px;
}
.select-btn:hover, .select-btn:focus{
    background-color:orange;
    color: #ffffff;
    font-weight: bolder;
    outline: none;
}

.divider{
    width: 100%;
    border-bottom: gold 10px solid;
    border-radius: 150px;
}

#menu-item{
    width: 85%;
    margin: auto;
    margin-top: 30px;
}
.menu-item-container {
    background-color: white;
    width: 27%;
    padding: 15px;
    border-radius: 5px;
    float: left;
    margin: 15px;
}
.menu-item-container img{
    height: 200px;
    width: 100%;
}

.menu-item-container .item-image{
    width: 100%;
}

.menu-item-container .name{
    display: inline-block;
    float: left;
}

.menu-item-container .price{
    display: inline-block;
    float: right;
}
.menu-item-container .serving{
    display: block;
    clear: both;
    text-align: center;
}

/**********************************************************/
/*Form */
/**********************************************************/

.div-close{
    text-align: right;
}
.close-button{
    cursor:pointer;
    outline: none;
    border: none;
    background-color: white;
    font-size: large;
    font-weight: bold;
}

.form-heading{
    text-align: center;
}

.div-form {
    border: 3px solid gold;
    border-radius: 35px;
    position: fixed;
    background-color: white;
    max-width: 460px;
    min-height: 360px;
    padding: 20px;
    z-index: 10;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.div-form.active{
    transform: translate(-50%, -50%) scale(1);
}

form div{
    margin:10px 0px ;
}
form input{
    border: burlywood 1px solid;
    border-radius: 50px;
    height: 30px;
    padding-left: 10px;
}

form input:focus{
    outline: none;
}
#div-firstname,#div-lastname {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 48%;
}

.username, .email, .password, .submit{
    width: 100%;
}

.submit{
    font-size: large;
    background-color: chartreuse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    color:grey;
}

label {
    display: block;
    width: 100px;
}

#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#div-register{
    text-align:  center;
}

.div-form-signin {
    border: 3px solid gold;
    border-radius: 35px;
    position: fixed;
    background-color: white;
    max-width: 460px;
    min-height: 360px;
    padding: 20px;
    z-index: 10;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}
.div-form-signin.active{
    transform: translate(-50%, -50%) scale(1);
}
